<p id="notice"><%= notice %></p>

<h1>Baurus</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Baurus</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @baurus.each do |bauru| %>
      <tr>
        <td><%= bauru.bauru %></td>
        <td><%= link_to 'Editar', edit_bauru_path(Bauru) %></td>
        <td><%= link_to 'Excluir', bauru, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo pedido', new_bauru_path, class: "btn btn-danger"%>
